%h1 Volunteer statistics for #{@current_user.name}
= react_component("DashboardReportsDateRangePicker/index")

%p
  %strong Total Hours:
  %span= User.total_volunteer_hours_by_user(@current_user, nil, nil).values.first.to_i
%p
  %strong Total Children Served:
  %span= User.total_children_by_user(@current_user, nil, nil)