SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=Password1

REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=redis
REDIS_PORT=
REDIS_DB_NUM=

# Select which docker-compose files to include. If using an override append `:docker-compose.example.yml` at the end
COMPOSE_FILE=docker-compose.yml

HONEYBADGER_API_KEY=

SMARTY_STREETS_AUTH_ID=
SMARTY_STREETS_AUTH_TOKEN=


TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=