SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=Password1
REDIS_HOST=redis

# Select which docker-compose files to include. If using an override append `:docker-compose.example.yml` at the end
COMPOSE_FILE=docker-compose.yml
