- content_for :page_header do
  .header-text Create a Need
= form_for(@need, url: {action: 'create'}, html: { method: :post }) do |f|
  = render partial: 'form_fields', locals: { f: f }
  .grid-x
    .cell
      .actions
        = f.submit "Create", class: 'button'