- if office.present? && office.users.social_workers.any?
  = select_tag "need[social_worker_id]", options_from_collection_for_select(office.users.social_workers, :id, :name), { include_blank: false }
- else
  = select_tag "need[social_worker_id]", [], disabled: true
