@import 'stylesheets/settings';
@import '~foundation-sites/scss/foundation';
@include foundation-everything(true, $prototype: true);

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import 'selectize/dist/css/selectize.default.css';

* {
  box-sizing: border-box;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

// .button.primary,
// .button.secondary,
// .button.success,
// .button.alert,
// .button.warning  {
//   color: white !important;
// }

@import 'stylesheets/nav';
@import 'stylesheets/needs';
@import '../components/blockouts/scheduler';
