@import 'stylesheets/settings';
@import '~foundation-sites/scss/foundation';
@include foundation-everything(true, $prototype: true);

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import 'selectize/dist/css/selectize.default.css';

* {
  box-sizing: border-box;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.button.primary,
.button.secondary,
.button.success,
.button.alert,
.button.warning  {
  color: white;
  &:hover {
    color: white;
  }
  &:active {
    color: white;
  }
  &:focus {
    color: white;
  }
}

#error_explanation {
  @extend .alert;
  @extend .callout;
}

.field_with_errors {
  @extend .is-invalid-input;
}

@import 'stylesheets/nav';
@import 'stylesheets/needs';
@import 'stylesheets/shifts';
@import 'stylesheets/invites';
@import '../components/blockouts/scheduler';
@import 'stylesheets/responsive_card_table';
