@import 'stylesheets/settings';
@import '~foundation-sites/scss/foundation';
@include foundation-everything(true, $prototype: true);

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import 'select2/dist/css/select2.css';
@import '@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css';
@import "react-datepicker/dist/react-datepicker.css";

* {
  box-sizing: border-box;
}

.group:after {
  content: '';
  display: table;
  clear: both;
}

.button.primary,
.button.secondary,
.button.success,
.button.alert,
.button.warning {
  color: white;
  &:hover {
    color: white;
  }
  &:active {
    color: white;
  }
  &:focus {
    color: white;
  }
}

#error_explanation {
  @extend .alert;
  @extend .callout;
}

.field_with_errors {
  @extend .is-invalid-input;
}

.react-datepicker-popper {
  z-index: 3;
}

// Prevent date picker from going off the right side of the screen
.float-right .react-datepicker-popper {
  left: -20px !important;
}

@import 'stylesheets/nav';
@import 'stylesheets/needs';
@import 'stylesheets/shifts';
@import 'stylesheets/invites';
@import 'stylesheets/reports';
@import '../components/blockouts/Scheduler';
@import 'stylesheets/responsive_card_table';
