.start-at-label {
  display: flex;
}

.start-at_input {
  margin: .5rem 0;
}
.duration-label {
  display: flex;
}
.duration-input {
  width: auto;
  display: inline-block;
}
.duration-description {
  display: inline-block;
}

ul.social_workers {
  list-style-type: none;
  margin: 0;
}

.shifts-container {
  hr {
    @include first-child   {
      display: none;
    }
  }
  .shift {
    color: $white;
    border-radius: $global-radius;
    &.claimed {
      background-color:lighten($secondary-color, 15%);
    }
    &.unclaimed {
      background-color: $success-color;
    }
    &.add-shift {
      color: lighten($secondary-color, 15%);
      background-color: $white;
      border: 1px dashed lighten($secondary-color, 15%);
    }
  }
}
