.DayPicker-Month {
  margin-left: 0;
  margin-right: 0;
}

.DayPicker-Day--today {
  color: #2FCFD9;
}

.DayPicker-Day--highlighted {
  position: relative;
  &::after{
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #e86071;
    display: block;
    position: absolute;
    left: calc(50% - 2px);
  }
}

.blockout-container {
  border: 1px solid black;
  margin-bottom: 1rem;
  cursor: pointer;
}

.blockout-time {
  font-size: .7rem;
}