.nav {
  background-color: $secondary-color;
  color: $white;
  a {
    color: $white;
  }
  .button {
    margin-bottom: 0;
  }
}
img.logo {
  height: 35px;
}

.page-header {
  color: $white;
  background-color: lighten($secondary-color, 15%);
  margin-bottom: .5rem;
  .header-text {
    padding: 1rem 0;
  }
}