.nav {
  background-color: $secondary-color;
  color: $white;
  a {
    color: $white;
  }
  .button {
    margin-bottom: 0;
  }
  .dropdown-menu-button {
    margin-left: .5rem;
  }
}

#profile-dropdown, #mobile-dropdown {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 32px;
  :last-child {
    .menu-item {
      border-bottom: 0;
    }
  }
  .menu-item {
    color: $secondary-color;
    padding: .5rem;
    border-bottom: 1px solid $secondary-color;
    &:hover {
      background-color: $light-gray;
    }
  }
}

img.logo {
  height: 50px;
}

.page-header {
  color: $white;
  background-color: lighten($secondary-color, 15%);
  margin-bottom: .5rem;
  .header-text {
    padding: 1rem 0;
  }
}