.start-at-label {
  display: flex;
}

.start-at_input {
  margin: .5rem 0;
}
.duration-label {
  display: flex;
}
.duration-input {
  width: auto;
  display: inline-block;
}
.duration-description {
  display: inline-block;
}

ul.social_workers {
  list-style-type: none;
  margin: 0;
}

.shifts-container {
  hr {
    @include first-child   {
      display: none;
    }
  }
  .shift {
    color: $white;
    border-radius: $global-radius;
    &.claimed {
      background-color: $secondary-color;
      color: $primary-color;
    }
    &.unclaimed {
      background-color: $success-color;
    }
    &.add-shift {
      color: $primary-color;
      background-color: $white;
      border: 1px dashed $primary-color;
    }
  }
}


#NeedChildForm {
  .card-divider {
    position: relative;
    .delete-event {
      cursor: pointer;
      color: $alert-color;
      position: absolute;
      right: 1rem;
      font-size: 1.5rem;
    }
  }
}

table.need-details {
  margin-bottom: 2rem;
  td:first-child {
    width: 200px;
  }
  td:last-child {
    width: 400px;
  }
  tr:last-of-type {
    border-bottom: none;
  }
}