.start-at-label {
  display: flex;
}

.start-at_input {
  margin: .5rem 0;
}
.duration-label {
  display: flex;
}
.duration-input {
  width: auto;
  display: inline-block;
}

.duration-description {
  display: inline-block;
}